<!-- {% extends 'principal/base.html' %} -->
<!-- {% block title %} Mapa de ruta de reparto {% endblock %} -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* #map {
        height: 50%;
        width: 100%;
      } */
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        /* margin: 0;
        padding: 0; */
      }
    </style>
  </head>
  
  <body> -->
<!-- {% block map %} -->
    <div id="map" style="width: 50%; height: 50%;"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.3770, lng: -3.7139},
          zoom: 7
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiPzJAiGlGmWwgyG9dU8OdgEYeox8NI3Y&callback=initMap"
    async defer></script>
<!-- {% endblock %}   -->
<!-- </body>
</html> -->

