{% extends 'principal/base.html' %}
{% block title %} Listar Mercancias {% endblock %}

{% block content %}
<table class="tabla_mercancias" id="table">
    <thead>
        <tr>
            {% for field in column_names %}
                <th scope="col">{{ field }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in row_values %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.descripcion }}</td>
                <td>{{ row.peso }}</td>
                <td>{{ row.cantidad }}</td>
                <td>{{ row.volumen }}</td>
                <td>{{ row.fechaentregaaprox }}</td>
                <td>{{ row.cliente_dni }}</td>
                <td>{{ row.albaran }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="application/javascript">
    $(document).ready( function () {
        $('#table').DataTable();
    } );
</script>
{% endblock %}
